.sidebar {
  width: 300px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.3);

  &__header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0,0,0,.1);
  }

  &__title {
    font-family: Arial;
    font-weight: 700;
  }

  &__speechTree {
    padding: 10px;
  }
}
