@nodeHeight: 30px;

.titleHighlighted() {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .2);

  .treeNode__titleLabel {
    opacity: 1;
  }
}

.treeNode {
  width: 100%;
  list-style: none;

  &--selected {
    &>.treeNode__title {
      .titleHighlighted();
    }
  }

  &__title {
    width: 100%;
    height: @nodeHeight;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;

    &--expandable {
      .treeNode__titleExpander {
        opacity: 1;
      }
    }

    &:hover {
      .titleHighlighted();
    }
  }

  &__titleExpander {
    width: 20px;
    height: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    flex-shrink: 0;

    &--expanded {
      transform: rotate(90deg);
    }
  }

  &__titleLabel {
    width: 100%;
    font-family: Arial;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    opacity: .7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: @nodeHeight;
    height: 100%;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    opacity: .6;
    flex-shrink: 0;

    &--delete {
      color: #ac0000;
      transform: rotate(45deg);
    }

    &--add {
      color: #007a0b;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__children {
    padding: 0;
  }
}
